$xxxlarge: 12rem;
$xxlarge: 10rem;
$xlarge: 5rem;
$large: 4rem;
$medium: 2rem;
$small: 1.25rem;
$xsmall: 1rem;
$harabara: "Harabara", Arial, Helvetica, sans-serif;
$primary-color: #70c4ac;
$secondary-color: #00b289;
$trietary-color: #8ed5be;
$dark-color: #323e48;
$dark-color2: #1d252c;
$light-color: #fcfcfc;
$devoteam-color: #f94e5e;
$trans: .2s;
$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$myavatar: "/images/myavatar.png";
$devoteam-logo: "/images/devoteam.jpg";

::selection {
    background-color: $primary-color;
    border-color: $primary-color; 
    outline: none;
}
* {
    outline: none;
}
body {
    background: $dark-color2;
}
a:focus, a:hover {
    color: white;
    transition: $trans;
}
a {
    color: $light-color;
}
h1 {
    font-size: $xxlarge;
    line-height: $xxlarge;
    font-family: $harabara;
    letter-spacing: 3px;    
}
h2 {
    font-size: $xlarge;
    line-height: $large;
    font-family: $harabara;
    letter-spacing: 3px;
}
h3 {
    font-size: $medium;
}
h4 {
    font-size: $small;
}
h5 {
    font-size: $xsmall;
}
p {    
    font-size: $small;
}
li {
    list-style: none;
    font-size: 22px;
    margin: $small;
    padding-right: $medium;
    background: $primary-color;
    border-radius: 2px;
    display: inline-flex;
    box-shadow: $shadow;
}
.button.hollow:focus, .button.hollow:hover {
    color: $light-color;
    border-color: $light-color;
    box-shadow: none;
}
p > .button.hollow:hover {
    color: $dark-color;
    border-color: $dark-color;
}
.button.hollow {
    color: $primary-color;
    border-color: $primary-color;
    height: $xxlarge;
    font-size: $medium;
}
.button {
    background-color: $secondary-color;
    box-shadow: $shadow;
    font-size: $small;
}
.button:focus, .button:hover {
    background-color: $light-color;
    color: $dark-color;
}
input[type=text], input[type=email] {
    height: $xlarge;
    font-size: $medium;
}
.search>li {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

//Nav
.top-bar {
      box-shadow: $shadow;
      z-index: 1;
      min-height: 6rem;
}
.top-bar, .top-bar ul {
    background: $primary-color;
    color: $light-color;
}
.page-title {
    margin: $large;
    color: $light-color;
}
.menu>li {
    height: $xlarge;
    box-shadow: none;
    font-weight: 500;
}
.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}
.reveal {
      box-shadow: $shadow;
}
.bell {
    margin-top: $xsmall;
    color: $light-color;
}
.notif {
    height: $small;
    position: absolute;
    width: $small;
    top: $small;
    margin-left: $medium;
    background-color: $devoteam-color;
    border-radius: 50%;
    box-shadow: $shadow;
    text-align: center;
    font-size: $small;
    font-weight: bold;
    font-family: $harabara;
}

//general
.page {
    padding-top: $xxxlarge;
}
.left {
    text-align: left;
    float: left;
}
.right {
    text-align: right;
    float: right;
}
.experience > .row, .about > .row {
    max-width: 85rem;
}
.fa {
    text-shadow: $shadow;
}
//Intro
.intro {
    background-image: url($myavatar);
    background-size: 49%;
    background-repeat: no-repeat;
    background-position: bottom left;
    float: none;
    min-height: 100vh;
}
.intro-container {
    max-width: 725px;
}
.intro-name {
    color: $primary-color;
}
.intro-title {
    color: $light-color;
}
.intro-text {
    color: $trietary-color;
    font-family: $harabara;
    letter-spacing: 1px;
}
.socials {
    margin-top: $xsmall;
    width: 100%;
}
.intro-social {
    width: $large;
    height: $large;
    background-color: $secondary-color;
    color: $light-color;
    margin: $xsmall 0px $xsmall $medium;
    font-size: $xsmall;
}

//About
.about {
    background-color: $trietary-color;
    background-image: url($myavatar);
    background-size: 49%;
    background-repeat: no-repeat;
    background-position: bottom right;
    text-align: left;
    min-height: 100vh;
    color: $light-color;
}
.about-text {
    position: relative;
    left: $medium;
    background-color: white;
    color: #00b289;
    display: inline;
    padding: 4px 0px;
    top: $medium;
}
.about .socials {
    margin-top: $large;
}

//Experience
.experience {
    background-color: $light-color;
    text-align: right;
    min-height: 100vh;
    color: $dark-color;
}
.work {
    margin-top: $xlarge;
}
.works {
    margin-top: -$large;
    margin-bottom: $xxlarge;
}

//Company
.company {
    color: $light-color;
    background-color: $secondary-color;
}
.typekev {
    background-color: $trietary-color;
    height: 100vh;
    background-image: url($myavatar);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.devoteam {
    background-color: $devoteam-color;
    height: 100vh;
    background-image: url($devoteam-logo);
    background-position: center;
    background-repeat: no-repeat;
}
.ampersand {
    font-family: $harabara;
    font-size: 400px;
    width: 400px;
    position: absolute;
    z-index: 0;
    margin-left: -170px;
    left:50%;
    top: 50%;
    margin-top: -300px;
}
.company .button {
    background-color: $devoteam-color;
    margin-top: $xsmall;
}
.company .button:hover {
    background-color: $light-color;
}
.arrow {
    position: absolute;
    bottom: $xsmall;
    font-size: $xlarge;
    left: 50%;
    margin-left: -2.3rem;    
}

//Contact
.contact {
    text-align: left;
    color: white;
    background-color: $trietary-color;
    height: 100vh;
}
.contactmsg {
    height: $xxxlarge;
    padding: $xsmall $medium;
    text-align: left;
    font-size: $medium;
    box-shadow: $shadow;
    margin-bottom: $medium;
}
.popup-modal {
    margin-top: -30rem; 
    position: absolute;
    color: white;
    right: $large;
    background: $light-color;
    border: none;
    transition: .4s;
    overflow: hidden;
}
.popup-modal .fa {
    font-size: $medium;
    margin-top: -3px;
}
.popup-modal h4 {
    font-size: $small;
    font-weight: bold;
    margin-top: -1px;
}
.popup-modal-right {
    margin-top: -$xxxlarge;
    background: $devoteam-color;
}
.popup-modal-sent {
    background: $secondary-color;
}
.reveal-overlay {
    background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-device-width: 1023px), only screen and (max-width: 1023px) {

.intro {
    background-size: 100%;
}
.typekev {
    height: 50vh;
}
.devoteam {
    height: 50vh;
}
.ampersand {
    margin-left: -520px;
    margin-top: -310px;
}
.arrow {
    bottom: 2rem;
    left: 85%;
    font-size: 10rem;
}
.works {
    margin-bottom: $xlarge;
}
.exp-text {
    margin-bottom: $xxlarge;
}

//Mobile Nav
.bell {
    margin-right: -$large;
}
#menuToggle
{
  display: block;
  position: fixed;
  top: 2.3rem;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: $large;
  height: $medium;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: $medium;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: $light-color;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $light-color;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  margin: 0 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: $primary-color;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  height: 100vh;
  box-shadow: 0 33px 3px rgba(0, 0, 0, 0.12), 0 33px 2px rgba(0, 0, 0, 0.24);
}

#menu li
{
  height: 8rem;
  font-size: 3rem;
}
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

}

