:root {
  --white: #fdf9f7;
  --transparent-white: #fdf9f777;
  --transparent-white-faded: #fdf9f740;
  --transparent-white-accent: #fdf9f720;
  --black: #060509;
  --transparent-black: #06050977;
  --transparent-black-faded: #06050940;
  --light-cyan: #b4e5e5;
  --transparent-light-cyan: #b4e5e577;
  --tropical-indigo: #a083ed;
  --transparent-tropical-indigo: #a083ed2f;
  --pale-pink: #ffc0cb;
  --transparent-pale-pink: #ffc0cb77;
  --light-coral-orange: #ff9e9e;
  --sky-blue: #87ceeb;
  --transparent-sky-blue: #87ceeb77;
  --light-lavender-purple: #dfc5fe;
  --rainbow-colors: var(--light-cyan) 10%, var(--tropical-indigo), var(--pale-pink), var(--light-coral-orange),
    var(--sky-blue), var(--light-lavender-purple), var(--light-cyan) 90%;
  --opening-transition-opacity: 1;
  --opening-play-state: paused;
}

html:has(.modal-background:not(.hidden)),
body:has(.modal-background:not(.hidden)) {
  overflow: hidden;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  margin: 0;
}

html {
  font-family: var(--font-poppins);
  color: white;
  font-weight: 600;
  background: var(--black);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 1s ease-in forwards;
  will-change: opacity;
}

body > aside.background-gradient {
  position: fixed;
  inset: 0;
  opacity: max(var(--opening-transition-opacity), 0.14);
  background: linear-gradient(-80deg, var(--rainbow-colors));
  background-size: 1000% 100%;
  animation: rainbow 55s 0.5s linear infinite reverse;
  transition: opacity 2s 3s ease;
  will-change: background-position;
  z-index: 1;
}

input,
button,
select {
  font-family: inherit;
  font-weight: inherit;
}

h2,
header p > span,
section p,
footer p,
footer small,
.button svg,
.button span,
.opening-highlight-transition {
  filter: drop-shadow(0 0 0.0625em currentColor);
}

.opening-highlight-transition {
  position: absolute;
  padding: inherit;
  opacity: var(--opening-transition-opacity);
  transition: opacity 2s 3s ease;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

.button:not(:target) > .opening-highlight-transition {
  visibility: hidden;
}

main {
  display: grid;
  position: relative;
  z-index: 1;
}

strong {
  font-weight: 800;
}

section,
address,
header,
footer {
  display: grid;
  grid-auto-rows: min-content;
  pointer-events: none;
}

section > *,
address > *,
header > *,
footer > * {
  pointer-events: all;
  width: fit-content;
}

section:target > h2.title::after,
address:target > h2.title::after {
  width: 100%;
}

h2.title {
  margin-block: 0 0.5em;
  font-weight: 300;
}

h2.title {
  font-size: 0.625em;
  align-self: start;
  text-decoration: none;
  position: relative;
}

h2.title::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  width: 0;
  height: 0.125rem;
  background-color: var(--white);
  transition: width 0.3s ease;
}

h2.title:hover::after,
h2.title:focus::after {
  width: 100%;
}

header#about {
  place-content: center start;
  padding-block-start: 2em;
}

header#about > .logo {
  position: relative;
  display: block;
  margin: 0;
  overflow: visible;
  color: var(--pale-pink);
  --float-y: 0.125em;
  animation: floating 22s 4s ease-in-out infinite;
}

header#about > .logo::before,
header#about > .logo::after {
  position: absolute;
  content: attr(data-text);
  overflow: visible;
}

header#about > .logo::before {
  inset: 4px;
  color: var(--light-cyan);
  --float-y: 0.0625em;
  animation: floating 18s 2s ease-in-out infinite;
}

header#about > .logo::after {
  inset: 2px;
  color: var(--white);
  --float-y: 0.0625em;
  animation: floating 14s 3s ease-in-out infinite;
}

header#about p > strong.highlighted-text,
header#about p > strong.highlighted-text::before,
header#about p > strong.highlighted-text::after {
  opacity: calc(1 - var(--opening-transition-opacity));
  animation-delay: 3s;
  animation-play-state: var(--opening-play-state);
  transition: opacity 0.5s 3s ease;
}

section#work {
  padding-block-start: 1em;
}

section#work ul {
  display: grid;
  gap: 0.25em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section#work ul > li {
  position: relative;
  width: fit-content;
  padding-block-start: 0.125em;
  padding-block-end: 0;
  transition: padding 0.15s ease-in-out;
}

section#work ul > li:hover {
  padding-block-start: 0;
  padding-block-end: 0.125em;
}

section#work ul > li p.work-year {
  position: absolute;
  font-weight: 400;
  font-size: 0.3125em;
  inset-block-start: 0;
  margin-block-start: 0.125em;
  margin-block-end: 0;
  transition: margin 0.15s ease-in-out;
}

section#work ul > li:hover p.work-year,
section#work ul > li a.button:hover + p.work-year {
  margin-block-start: -0.125em;
}

address#contact {
  padding-block-start: 2em;
  margin-block-end: -6em;
  font-style: normal;
}

address#contact ul {
  display: grid;
  gap: 0.25em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address#contact button.copy-button {
  position: relative;
}

footer#endnote {
  justify-self: end;
  font-size: 0.3125em;
  font-weight: 100;
}

footer#endnote > p {
  margin-block-end: 1.5em;
}

footer#endnote > small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer#endnote > small > label {
  display: flex;
  align-items: center;
  gap: 0.625em;
}

footer#endnote > small > label > svg {
  filter: drop-shadow(0 0 0.0625em currentColor);
}

footer#endnote > small > label > select {
  background: var(--transparent-white-accent);
  border: 0.125rem solid var(--transparent-white-faded);
  box-shadow: 0 0 0.25em var(--transparent-white-accent);
  border-radius: 0.5em;
  color: var(--white);
}

a {
  color: inherit;
}

a:not([href*="//"], [href*="mailto"])
{
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

dialog {
  display: grid;
  gap: 0.25em;
  margin: 0;
  background-color: var(--transparent-white-accent);
  backdrop-filter: blur(0.75em);
  border-radius: 0.75em;
  border: 0.125rem solid var(--transparent-white-faded);
  box-shadow: 0 0 1em var(--transparent-white-accent);
  color: var(--white);
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  overscroll-behavior: contain;
}

dialog.hidden {
  opacity: 0;
  visibility: hidden;
}

dialog.versions-modal {
  position: relative;
  max-height: 70lvh;
  width: min(48em, 70dvw);
  overflow: auto;
}

dialog.tooltip {
  font-weight: 300;
  font-size: 0.375em;
  transform: translateX(-50%);
  inset-block-start: 100%;
  inset-inline-start: 50%;
  width: max-content;
  height: auto;
  margin-block-start: 0.125em;
  padding: 0.125em 0.375em;
  filter: drop-shadow(0 0 0.125em var(--white));
}

aside.modal-background {
  display: grid;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at 65%,
    var(--transparent-tropical-indigo) 0%,
    var(--transparent-black-faded) 50%,
    var(--transparent-black) 100%
  );
  backdrop-filter: blur(0.375em);
  position: fixed;
  inset: 0;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  z-index: 2;
}

aside.modal-background.hidden {
  opacity: 0;
  visibility: hidden;
}

aside.modal-background > .modal-close-button {
  position: absolute;
  inset-block-start: 4lvh;
  inset-inline-end: 3dvw;
}

#bot {
  pointer-events: none;
  position: sticky;
  display: flex;
  gap: 0.375em;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: fit-content;
  max-height: 3em;
  margin-block: 6em -1.5em;
  margin-inline-end: -1em;
  padding-inline: 0.25em;
  padding-block-end: 0.25em;
  font-weight: 500;
  --float-y: 0.125em;
  transition: width ease-in-out 0.25s, max-height ease-in-out 0.25s;
  animation: floating 10s ease-in-out infinite;
  z-index: 3;
}

#bot.active {
  width: calc(100% + 24px);
  max-height: max(3em, 300px);
}

#bot > dialog {
  pointer-events: all;
  position: relative;
  font-size: 0.4375em;
  padding: 0.75em;
}

#bot > dialog.hidden {
  pointer-events: none;
}

#bot > button {
  pointer-events: all;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 1em;
}

#bot > button > svg {
  width: min(3em, 8vmax);
  height: min(3em, 8vmax);
  margin-block-start: -0.25em;
  --shake-rotation: 5deg;
  animation: shake 5s ease-in-out infinite;
}

#bot > button:hover > svg,
#bot > button:focus > svg,
#bot > button.active > svg {
  animation-play-state: running, paused, running;
  animation-duration: 4s, 0s, 0.5s;
}

#bot .chat-message {
  position: relative;
  border-radius: 0.75em;
  margin: 0;
  padding: 0.25em 0.5em;
  display: inline;
  width: fit-content;
}

#bot .chat-message-text {
  padding-inline-end: inherit;
  position: absolute;
  pointer-events: none;
}

#bot .chat-message-text > #cursor {
  display: inline-block;
  font-size: 0.675em;
  width: 1.375ch;
  margin-inline-start: -1.375ch;
  transform: translateY(-1px);
}

#bot .chat-message-text > #cursor > .block {
  opacity: 1;
  visibility: visible;
  animation: fade-in 0.5s ease-in-out 1s reverse forwards;
}

#bot .chat-message-spacer {
  color: transparent;
}

#bot .chat-message.bot {
  font-family: var(--font-fragment-mono);
  font-weight: 400;
  background: var(--transparent-white);
}

#bot .chat-message.user {
  font-weight: 600;
  justify-self: end;
  background: var(--transparent-white-faded);
}

#bot .chat-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--transparent-black-faded);
  border-radius: 0.5em;
}

#bot .chat-input label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: 0.5em;
}

#bot .chat-input label::after {
  content: attr(data-value) "  ";
  visibility: hidden;
  white-space: pre-wrap;
  height: 0;
  margin-inline: 0.5em;
}

#bot .chat-input input {
  visibility: visible;
  font-size: 1em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  color: var(--white);
  filter: drop-shadow(0 0 0.125em var(--transparent-white));
  outline: none;
  border: none;
  z-index: 1;
}

#bot .chat-input input[data-typeahead="true"] {
  cursor: pointer;
}

#bot .chat-input input::placeholder {
  color: var(--transparent-white);
}

#bot .chat-input label.chat-typeahead {
  position: absolute;
  width: auto;
  inset: 0;
  margin-inline-end: 3.5em;
  pointer-events: none;
  z-index: 0;
}

#bot .chat-input .chat-typeahead input {
  color: var(--transparent-white);
}

#bot .chat-input .icon-button svg {
  margin-block-end: 0.125em;
}

[placeholder] {
  text-overflow: ellipsis;
}

.highlighted-text,
.highlighted-text::before,
.highlighted-text::after,
.button:target > .highlighted-button-text,
.button:target > .highlighted-button-text::before,
.button:target > .highlighted-button-text::after {
  position: relative;
  display: inline-block;
  animation: rainbow 75s -1s linear infinite reverse;
  background: linear-gradient(90deg, var(--rainbow-colors));
  background-size: 1000% 100%;
  background-clip: text;
  color: transparent;
  filter: none;
  align-items: baseline;
  will-change: background-position;
}

.highlighted-text::before,
.highlighted-text::after,
.button:target > .highlighted-button-text::before,
.button:target > .highlighted-button-text::after {
  position: absolute;
  inset: 0;
  content: attr(data-text);
  filter: blur(15px);
}

.highlighted-text::after,
.button:target > .highlighted-button-text::after {
  filter: blur(30px);
  opacity: 0.2;
}

.button:target > .highlighted-button-text,
.button:target > .highlighted-button-text::before,
.button:target > .highlighted-button-text::after {
  animation-duration: 40s;
  background-size: 1100% 100%;
}

.button {
  display: grid;
  width: fit-content;
  transition:
    background 0.5s ease-out,
    backdrop-filter 0.25s ease-in-out;
  padding-inline: 0.375em;
  background: transparent;
  background-position: center;
  border-radius: 0.5em;
}

.button[href*="//"]:not(.icon-button),
.button[href*="mailto"]:not(.icon-button) {
  padding-block: 0 0.125em;
}

.button:hover,
.button:focus,
.button:target {
  background: radial-gradient(circle, var(--transparent-white-accent) 1%, transparent 1%) center/20000%;
}

.button:active {
  background-color: var(--transparent-white-faded);
  background-size: 100%;
  transition: background 0.05s;
}

.button.active {
  background-color: var(--transparent-white-faded);
}

.button:hover,
.button:focus,
.button:target,
.button:active,
.button.active {
  backdrop-filter: blur(0.5em);
}

#work-ses.button {
  scroll-margin-block-start: 2.25em;
}

#work-emailtree.button {
  scroll-margin-block-start: 4.125em;
}

#work-devoteam.button {
  scroll-margin-block-start: 6em;
}

.button-group {
  display: inline-flex;
  align-items: center;
  gap: 0.125em;
}

.icon-button {
  display: grid;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  padding: 0.25em;
}

.endnote-link {
  cursor: pointer;
  text-decoration: none;
  font-weight: 200;
}

menu.social-links {
  display: flex;
  margin-inline-start: -1em;
  margin-block-end: 0;
  padding: 0;
  list-style-type: none;
}

menu.social-links li.button {
  cursor: pointer;
  background: none;
  opacity: 0.8;
  transition: opacity 0.25s ease-in-out;
}

menu.social-links li.button:hover,
menu.social-links li.button:focus {
  opacity: 1;
}

menu.social-links a {
  display: grid;
  align-items: center;
  height: 100%;
  width: 100%;
}

menu.social-links svg {
  padding: 1em 0.75em;
}

menu.version-links {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 1em;
  list-style-type: none;
}

menu.version-links > li {
  position: relative;
  border-radius: 0.75em;
  overflow: hidden;
  box-shadow: 0 0 1.25em var(--black);
  animation: rainbow 25s 2s linear infinite reverse;
  background: linear-gradient(-80deg, var(--rainbow-colors));
  background-size: 1000% 100%;
  will-change: background-position;
}

menu.version-links > li > a {
  position: absolute;
  inset: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 200;
  background: var(--transparent-black);
  transition: background 0.125s ease-out;
}

menu.version-links > li:hover > a {
  background: transparent;
}

menu.version-links > li > img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.125s ease-in-out, transform 0.125s ease-in-out;
  border-radius: 0.75em;
}

menu.version-links > li:hover > img {
  border-radius: 0.65em;
  opacity: 0.8;
  transform: scale(0.99, 0.979);
}

.button:not(:hover) > dialog.tooltip {
  opacity: 0;
  visibility: hidden;
}

.black-hole {
  background: radial-gradient(ellipse 130% 50% at 70% 45%, var(--transparent-tropical-indigo) 0%, transparent);
  position: fixed;
  inset-block-start: -10px;
  inset-inline-start: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  animation: fade-in 4s 4s ease forwards;
}

.black-hole-canvas {
  inset-block-start: -10px;
  inset-inline-start: 0;
  opacity: 0;
  visibility: hidden;
  animation: fade-in 2s 3s ease forwards;
}

@media (max-width: 575.98px) {
  main {
    font-size: 28px;
    margin-inline: 32px;
  }

  #bot > dialog {
    margin-inline-start: -24px;
  }

  footer#endnote {
    margin-block-start: 7em;
  }

  menu.social-links {
    justify-self: center;
    gap: 2em;
    margin: 0;
  }

  dialog {
    padding: 1em;
  }

  menu.version-links {
    gap: 0.75em;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  main {
    font-size: 32px;
    padding-inline: 56px;
  }

  #bot > dialog {
    margin-inline-start: -32px;
  }

  footer#endnote {
    margin-block-start: 6em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  main {
    font-size: 40px;
    padding-inline: 56px;
  }

  #bot > dialog {
    margin-inline-start: 56px;
  }

  footer#endnote {
    width: 66%;
  }

  menu.version-links {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  main {
    font-size: 40px;
    padding-inline: 128px;
  }

  #bot > dialog {
    margin-inline-start: 128px;
  }

  footer#endnote {
    width: 50%;
  }

  menu.version-links {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  main {
    font-size: 48px;
    padding-inline: 192px;
  }

  #bot > dialog {
    margin-inline-start: 192px;
  }

  footer#endnote {
    width: 50%;
  }

  menu.version-links {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1600px) and (max-width: 1999.98px)  {
  main {
    font-size: 52px;
    padding-inline: 256px;
  }

  #bot > dialog {
    margin-inline-start: 192px;
  }

  footer#endnote {
    width: 50%;
  }

  menu.version-links {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 2000px) {
  main {
    font-size: 52px;
    padding-inline: 336px;
  }

  #bot > dialog {
    margin-inline-start: 256px;
  }

  footer#endnote {
    width: 40%;
  }

  menu.version-links {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-height: 383.98px) {
  header#about {
    padding-block-start: 0;
  }

  header#about > .logo {
    height: 0.75em;
    font-size: 1.75em;
  }

  header#about > p, section#work, address#contact {
    padding-block-end: 0;
  }

  #bot {
    inset-block-end: 0;
  }

  footer#endnote {
    margin-block: 0 5em;
  }

  .black-hole, .black-hole-canvas {
    height: 504px;
  }
}

@media (min-height: 384px) and (max-height: 479.98px) {
  header#about {
    padding-block-start: 0;
  }

  header#about > .logo {
    height: 1em;
    font-size: 2em;
  }

  header#about > p, section#work, address#contact {
    padding-block-end: 0.25em;
  }

  #bot {
    inset-block-end: 0.25em;
  }

  footer#endnote {
    margin-block: 0.5em 6em;
  }

  .black-hole, .black-hole-canvas {
    height: 500px;
  }
}

@media (min-height: 480px) and (max-height: 575.98px) {
  header#about {
    padding-block-start: 0.5em;
  }

  header#about > .logo {
    height: 1.25em;
    font-size: 2em;
  }

  header#about > p, section#work, address#contact {
    padding-block-end: 0.5em;
  }

  #bot {
    inset-block-end: 0.5em;
  }

  footer#endnote {
    margin-block: 2em 7em;
  }

  .black-hole, .black-hole-canvas {
    height: 596px;
  }
}


@media (min-height: 576px) and (max-height: 767.98px) {
  header#about {
    padding-block-start: 0.75em;
  }
  
  header#about > .logo {
    height: 1.5em;
    font-size: 2em;
  }

  header#about > p, section#work, address#contact {
    padding-block-end: 0.75em;
  }

  #bot {
    inset-block-end: 0.75em;
  }

  footer#endnote {
    margin-block: 3em 8em;
  }

  .black-hole, .black-hole-canvas {
    height: 788px;
  }
}

@media (min-height: 768px) and (max-height: 991.98px) {
  header#about > .logo {
    font-size: 2em;
  }
 
  header#about > p, section#work, address#contact {
    padding-block-end: 1em;
  } 

  #bot {
    inset-block-end: 1em;
  }

  footer#endnote {
    margin-block: 4em 9em;
  }

  .black-hole, .black-hole-canvas {
    height: 1012px;
  }
}

@media (min-height: 992px) and (max-height: 1199.98px) {
  header#about > .logo {
    font-size: 2.25em;
  }

  header#about > p, section#work, address#contact {
    padding-block-end: 1.5em;
  }   

  #bot {
    inset-block-end: 1.5em;
  }

  footer#endnote {
    margin-block: 5em 10em;
  }

  .black-hole, .black-hole-canvas {
    height: 1220px;
  }
}

@media (min-height: 1200px) and (max-height: 1599.98px) {
  header#about > .logo {
    font-size: 3em;
  }

  header#about > p, section#work, address#contact {
    padding-block-end: 2em;
  }

  #bot {
    inset-block-end: 2em;
  } 

  footer#endnote {
    margin-block: 5em 11em;
  }

  .black-hole, .black-hole-canvas {
    height: 1620px;
  }
}

@media (min-height: 1600px) and (max-height: 1999.98px) {
  header#about > .logo {
    font-size: 3.5em;
  }

  header#about > p, section#work, address#contact {
    padding-block-end: 3em;
  }

  #bot {
    inset-block-end: 3em;
  } 

  footer#endnote {
    margin-block: 6em 12em;
  }

  .black-hole, .black-hole-canvas {
    height: 2020px;
  }
}

@media (min-height: 2000px) {
  header#about > .logo {
    font-size: 4em;
  }

  header#about > p, section#work, address#contact {
    padding-block-end: 4em;
  }   

  #bot {
    inset-block-end: 4em;
  }

  footer#endnote {
    margin-block: 6em 13em;
  }

  .black-hole, .black-hole-canvas {
    height: calc(100% + 20px); 
  }
}

@media (hover: none), (hover: on-demand), (-moz-touch-enabled: 1), (pointer: coarse) {
  html,
  body {
    overscroll-behavior: none;
  }

  .black-hole {
    pointer-events: none;
    z-index: -1;
  }
}

@keyframes rainbow {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 1000% 50%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  12% {
    transform: translate(-3px, var(--float-y));
  }

  50% {
    transform: translate(1px, calc(var(--float-y) * -1));
  }

  88% {
    transform: translate(-3px, var(--float-y));
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(var(--shake-rotation));
  }

  75% {
    transform: rotate(calc(var(--shake-rotation) * -1));
  }
}
